 <div id="story" class=".col-md-6">
    	     	 	<p>Cape Town resorts Quiz</p>
                    <small><small>get to know your city</small></small>
            </div>    	    

    	    <a href='./question/1' ><img id= 'play' src='/images/play.png' onclick="document.getElementById('story').style.visibility='hidden'"></a>

