 <div id="story" class=".col-md-6">
    	     	 	<p>Cape Town Resorts Quiz</p>
                    <small><small>Get to know your city</small></small>
            </div>    	    

    	    <a href='./question/1' ><img id= 'play' src='/images/play.png' onclick="document.getElementById('play').style.transform ='scale(1.5)'"></a>

